@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

/* Common styles */
.max-width {
  @apply w-full max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-4;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

h2 {
  @apply xl:text-5xl xl:leading-[54px] text-2xl leading-7 font-extrabold text-black;
}

h3 {
  @apply xl:text-4xl xl:leading-10 text-2xl leading-7 font-extrabold text-black;
}

/* Hero styles */
.hero {
  @apply flex xl:flex-row flex-col xl:gap-5 gap-y-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply xl:text-6xl xl:leading-[64px] sm:text-5xl sm:leading-[54px] text-[30px] leading-9 font-extrabold;
}

.hero__subtitle {
  @apply text-lg leading-6 text-gray-400 mt-1;
}

/* Teacher or student */
